
<div *ngIf="!isLoading">
  <div *ngIf="lat && lng">
    <mat-card>
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng">
          <agm-info-window>
            <h3><strong>{{locationName}}</strong></h3>
          </agm-info-window>
        </agm-marker>
      </agm-map>
    </mat-card>
  </div>


  <div *ngIf="contractors" class="container" style="margin-top: 15px;">
    <a class="hover" [routerLink]="['/naradig']" routerLinkActive="active" href="#">
      <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Gå tillbaka
    </a>
    <div class="row">
      <div class="col-md-7">
        <img [src]="contractors.imageUrl.url" alt="404" class="img-thumbnail" style="opacity: 1; display: block;">
      </div>
      <div class="col-md-5" data-wow-duration="700ms" data-wow-delay="500ms" style="visibility: visible; animation-duration: 700ms; animation-delay: 500ms; animation-name: zoomIn;">
        <div class="heading"><h2>{{contractors.name}}</h2></div>
        <p class="description">{{contractors.description}}</p>
        <hr>
        <h2>Kontaktinformation</h2>
        <ul class="work-detail-list">
          <li><span>Telefon nummer:&nbsp;</span>{{contractors.contactInformation.Phone}}</li>
          <li><span>Adress:&nbsp;</span>{{contractors.contactInformation.Adress}}</li>
          <li><span>Email:&nbsp;</span>{{contractors.contactInformation.Email}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<mat-spinner class="loading" *ngIf="isLoading"></mat-spinner>
