agm-map {
  height: 300px;
}


.example-full-width {
  width: 100%;
}
.col-centered{
  float: none;
  margin: 0 auto;
}

.example-header-image {
  background-size: cover;
}

.card {
  margin-top: 15px;
  margin-right: 15px;
  max-width: 450px;
  padding: 5px;
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.media-object {
  width: 64px;
  height: 64px;
}

button:hover{
  background-color: purple;
}

.media-heading {
  margin: 10px;
}

