agm-map {
  height: 300px;
}


.example-full-width {
  width: 100%;
}
.col-centered{
  float: none;
  margin: 0 auto;
}

.gm-style div{color: #fff !important; font-weight: bold;}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
