h1{
    text-align: center;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}
.mat-button{
    padding:0px;
    bottom: 1px;
}
a:hover{
    text-decoration: none;
}
a{
    text-decoration: none;
}
mat-card:hover{
    box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}
mat-card{
    bottom: 1px;
}