<div class="form-group">
    <fieldset>
        <mat-form-field>
            <mat-select [(ngModel)]="type" placeholder="Välj typ av köp" multiple required>
              <mat-option *ngFor="let type of types" [value]="type">
                {{type}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      <mat-form-field>
          <mat-select [(ngModel)]="tab" placeholder="Välj tab" multiple required>
            <mat-option *ngFor="let tab of tabs" [value]="tab">
              {{tab}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <img style="float:right" [src]="item?.image" height="200" width="200">
        <mat-form-field>
            <input matInput placeholder="Bild Url"
            [(ngModel)]="item.image">
          </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Title"
        [(ngModel)]="item.title"
        required minlength="2" maxlength="25">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Body" [(ngModel)]="item.body"></textarea>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="SubTitle"
          [(ngModel)]="item.subTitle">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Sub Body"
        [(ngModel)]="item.subBody"></textarea>
      </mat-form-field>

      <button class="btn btn-primary" (click)="createInfo()" >Create</button>




    </fieldset>

    </div>
