
<div id="bg" class="custom-background cover">
  <a class="navbar-brand" href="https://equilab.horse/"><img class="equilabName"
                                                             src="assets/images/equilabName.png"
                                                             height="25px"/></a>



  <div align=center class="container" id="content">

    <mat-button-toggle-group style="color: white" [(ngModel)]="selectedAuthType">
      <mat-button-toggle value="signin">Sign In
      </mat-button-toggle>
      <mat-button-toggle value="signup">Sign Up
      </mat-button-toggle>
    </mat-button-toggle-group>


    <div *ngIf="error" class="alert alert-warning" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      {{error}}
    </div>


    <div [ngSwitch]="selectedAuthType">

      <div *ngSwitchCase="'signin'">
        <mat-card class="example-card" [@slideUp]="'true'">
          <form *ngIf="!isLoading" class="example-form" #signInForm="ngForm" (ngSubmit)="loginWithEmail(signInForm)">
            <mat-form-field class="example-full-width">
              <input matInput="true" placeholder="Email" type="email" name="email" class="email" ngModel required>
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>


            <mat-form-field class="example-full-width" style="margin-top: 50px">
              <input matInput="true" placeholder="Lösenord" type="password" name="password" class="password" ngModel required>
            </mat-form-field>
            <br>

            <div class="text-center">
              <button mat-raised-button type="submit">Login</button>
              <br>
              <p *ngIf="error" class="error-text">{{errorMessage}}</p>
            </div>
            <button class="button-f" mat-raised-button  style="margin-top: 10px;" (click)="logInWithFacebook()">Login with Facebook</button>

            <a href="#" style="font-size: 15px;"> Forgot your password?</a>

          </form>
        </mat-card>

      </div>


      <div *ngSwitchCase="'signup'">

        <mat-card class="example-card" [@slideUp]="'true'">
          <form #signUpForm="ngForm" (ngSubmit)="onSignUpWithEmail(signUpForm)">
            <mat-form-field class="example-full-width">
              <input matInput="true" placeholder="Email" type="email" name="email" class="email" ngModel required>
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>


            <mat-form-field class="example-full-width" style="margin-top: 50px">
              <input matInput="true" placeholder="Lösenord" type="password" name="password" class="password" ngModel required>
            </mat-form-field>
            <br>

            <div class="text-center">
              <button mat-raised-button type="submit">Skapa konto</button>
              <br>
              <p *ngIf="error" class="error-text">{{errorMessage}}</p>
            </div>
          </form>
        </mat-card>

      </div>
    </div>


  </div>
</div>



