
<div id="bg" class="custom-background cover">
  <!-- <a class="navbar-brand" href="https://equilab.horse/"><img class="equilabName"
                                                             src="assets/images/equilabName.png"
                                                             height="25px"/></a> -->



  <div align=center class="container" id="content">

<mat-card style="background-color: transparent;">
    <div class="checkbox btn-group btn-group-justified" >
      <div class="btn-group">
        <input [(ngModel)]="selectedAuthType" class="btn btn-primary" type="radio" value="signin" id="signin">
        <label for="signin" style="font-size: 24px;">
              <span>Logga in</span>
          </label>
      </div>
      <div class="btn-group">
        <input [(ngModel)]="selectedAuthType" class="btn btn-primary" type="radio" value="signup" id="signup">
        <label for="signup" style="font-size: 24px;">
              <span>Skapa konto</span>
          </label>
      </div>
    </div>
</mat-card>
    <div *ngIf="error" class="alert alert-warning" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      {{error}}
    </div>

    <div [ngSwitch]="selectedAuthType">

      <div *ngSwitchCase="'signin'">

        <h2 [@fadeIn]="'true'" style="color: #fff; margin-top: 40px">Logga in på ditt konto</h2>

        <mat-card class="example-card" [@slideUp]="'true'">
          <h2 *ngIf="!isLoading" style="font-size: 22px;"><img
            src="../../pages/../../assets/images/myhouselogo_.png" height="84" width="84"/></h2>
          <h2 *ngIf="isLoading" style="font-size: 22px;"><img src="../../pages/../../assets/images/myhouselogo_.png" height="200"
                                                                                     width="200"/></h2>
          <form *ngIf="!isLoading" class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput [formControl]="emailFormControl" type="email" name="email" class="email" [(ngModel)]="loginEmail" required>
              <mat-placeholder> <i style="margin-right: 5px;" class="fa fa-envelope fa-fw"></i> <i>Email</i></mat-placeholder>
              <button mat-button *ngIf="loginEmail" matSuffix mat-icon-button aria-label="Clear" (click)="loginEmail=''">
                <mat-icon>close</mat-icon>
              </button>
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Var god ange en giltig email-adress
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" style="margin-top: 50px">
              <input matInput type="password" name="password" class="password" [(ngModel)]="loginPassword"  required>
              <mat-placeholder> <i style="margin-right: 5px;" class="fa fa-key fa-fw"></i><i>Lösenord</i></mat-placeholder>
              <button mat-button *ngIf="loginPassword" matSuffix mat-icon-button aria-label="Clear" (click)="loginPassword=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
            <br>
            <div class="text-center">
              <button mat-raised-button (click)="loginWithEmail()">Logga in med email</button>
              <br>
              <p *ngIf="error" class="error-text">{{errorMessage}}</p>
            </div>
            <button class="button-f" mat-raised-button style="margin-top: 10px;" (click)="logInWithFacebook()"><i class="fa fa-facebook-official fa-2x" style="float: left;" aria-hidden="true"></i>Logga in med Facebook</button>

            <a href="#" style="font-size: 15px;"> Glömt ditt lösenord?</a>

          </form>
          <mat-spinner *ngIf="isLoading"></mat-spinner>
        </mat-card>

      </div>


      <div *ngSwitchCase="'signup'">
        <h2 [@fadeIn]="'true'" style="color: #fff; margin-top: 40px">Skapa ett konto</h2>
        <mat-card class="example-card" [@slideUp]="'true'">
          <form *ngIf="!isLoading">
            <mat-form-field class="example-full-width">
              <input matInput type="text" name="name" class="name" [(ngModel)]="name"  required>
              <mat-placeholder> <i style="margin-right: 5px;" class="fa fa-user fa-fw"></i><i>Namn</i></mat-placeholder>
              <button mat-button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field class="example-full-width" style="margin-top: 50px">
              <input matInput [formControl]="emailFormControl" type="email" name="email" class="email" [(ngModel)]="email"  required>
              <mat-placeholder> <i style="margin-right: 5px;" class="fa fa-envelope fa-fw"></i> <i>Email</i></mat-placeholder>
              <button mat-button *ngIf="email" matSuffix mat-icon-button aria-label="Clear" (click)="email=''">
                <mat-icon>close</mat-icon>
              </button>
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Var god ange en giltig email-adress
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email är <strong>krävd</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" style="margin-top: 50px">
              <input matInput type="password" name="password" class="password" [(ngModel)]="password"  required>
              <mat-placeholder> <i style="margin-right: 5px;" class="fa fa-key fa-fw"></i><i>Lösenord</i></mat-placeholder>
              <button mat-button *ngIf="password" matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
            <br>
            <br>
            <div class="text-center">
              <button mat-raised-button (click)="onSignUpWithEmail()">Skapa konto</button>
              <br>
              <p *ngIf="error" class="error-text">{{errorMessage}}</p>
            </div>
          </form>
          <mat-spinner *ngIf="isLoading"></mat-spinner>
        </mat-card>

      </div>
    </div>


  </div>
</div>



