<h1>Hus</h1>
<div class="row">
    <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <br>
          <mat-progress-bar mode="determinate" value="10"></mat-progress-bar>
          <mat-horizontal-stepper [linear]="isLinear">
              <mat-step [stepControl]="firstFormGroup">
                  <ng-template matStepLabel>Innan köpet</ng-template>
                  <form [formGroup]="firstFormGroup">
                    <div *ngFor="let item of items | async">

                  <div class="row"
                  *ngIf="item.tab == 'Innan Köp' ||
                  item.tab == 'Innan Köp,Under Köp' ||
                  item.tab == 'Under Köp,Innan Köp' ||
                  item.tab == 'Innan Köp,Under Köp,Efter Köp' ||
                  item.tab == 'Innan Köp,Efter Köp,Ufter Köp' ||
                  item.tab == 'Unnan Köp,Innan Köp,Efter Köp'||
                  item.tab == 'Efter Köp,Innan Köp,Under Köp'||
                  item.tab == 'Efter Köp,Under Köp,Innan Köp'">
                  <div *ngIf="item.type == 'Hus' ||
                  item.type == 'Hus,Bostadsrätt' ||
                  item.type == 'Bostadsrätt,Hus'">


                    <h2>{{item.title}}</h2>
                    <p>{{item.body}}</p>
                    <h3>{{item.subTitle}}</h3>
                    <p>{{item.subBody}}</p>
                    <!-- {{item.tab}}
                    {{item.type}} -->
                  </div>
                </div>
                </div>
                </form>
                <div class="row">
                  <a class="hover" [routerLink]="['/stegforsteg']" routerLinkActive="active" href="#">
                    <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                  </a>
                  <button style="float:right;" matStepperNext>
                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                  </button>
                </div>
              </mat-step>

              <mat-step [stepControl]="secondFormGroup">
                <ng-template matStepLabel>Under köpet</ng-template>
                <form [formGroup]="secondFormGroup">
                    <div *ngFor="let item of items | async">

                  <div class="row"
                  *ngIf="item.tab == 'Under Köp' ||
                  item.tab == 'Innan Köp,Under Köp' ||
                  item.tab == 'Under Köp,Innan Köp' ||
                  item.tab == 'Innan Köp,Under Köp,Efter Köp' ||
                  item.tab == 'Innan Köp,Efter Köp,Ufter Köp' ||
                  item.tab == 'Unnan Köp,Innan Köp,Efter Köp'||
                  item.tab == 'Efter Köp,Innan Köp,Under Köp'||
                  item.tab == 'Efter Köp,Under Köp,Innan Köp'">
                  <div *ngIf="item.type == 'Hus' ||
                  item.type == 'Hus,Bostadsrätt' ||
                  item.type == 'Bostadsrätt,Hus'">


                    <h2>{{item.title}}</h2>
                    <p>{{item.body}}</p>
                    <h3>{{item.subTitle}}</h3>
                    <p>{{item.subBody}}</p>
                    <!-- {{item.tab}}
                    {{item.type}} -->
                  </div>
                </div>
                </div>
                </form>
                <div class="row">
                    <button matStepperPrevious>
                        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                    </button>
                      <button style="float:right;" matStepperNext>
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                      </button>
                    </div>
              </mat-step>
              <mat-step [stepControl]="secondFormGroup">
                <ng-template matStepLabel>Efter köpet</ng-template>
                  <form [formGroup]="secondFormGroup">
                      <div *ngFor="let item of items | async">

                    <div class="row"
                    *ngIf="item.tab == 'Efter Köp' ||
                    item.tab == 'Innan Köp,Under Köp' ||
                    item.tab == 'Under Köp,Innan Köp' ||
                    item.tab == 'Innan Köp,Under Köp,Efter Köp' ||
                    item.tab == 'Innan Köp,Efter Köp,Ufter Köp' ||
                    item.tab == 'Unnan Köp,Innan Köp,Efter Köp'||
                    item.tab == 'Efter Köp,Innan Köp,Under Köp'||
                    item.tab == 'Efter Köp,Under Köp,Innan Köp'">
                    <div *ngIf="item.type == 'Hus' ||
                    item.type == 'Hus,Bostadsrätt' ||
                    item.type == 'Bostadsrätt,Hus'">


                      <h2>{{item.title}}</h2>
                      <p>{{item.body}}</p>
                      <h3>{{item.subTitle}}</h3>
                      <p>{{item.subBody}}</p>
                      <!-- {{item.tab}}
                      {{item.type}} -->
                    </div>
                  </div>
                  </div>
                  </form>
                  <div class="row">
                      <button matStepperPrevious>
                        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                      </button>
                      <button style="float:right;" matStepperNext>
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                      </button>
                   </div>
                </mat-step>
            </mat-horizontal-stepper>

      <div class="col-sm-2"></div>
</div>

</div>


