
<div  id="wrapper">
  <div class="{{overlay_class}}"></div>
  <!-- Sidebar -->
  <nav *ngIf="isAuthenticated" class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
      <li class="sidebar-brand" style="margin-bottom: 15px; background-color: #F7FFF7;">
         <a [routerLink]="['/hem']" routerLinkActive="active" href="#"><img class="img-thumbnail" style=" width: 84px; height: 84px; float: left; background-color: #F7FFF7;" src="../assets/images/myhouselogo_.png" alt="myHouse"></a>
      </li>
      <li>
        <a *ngIf="isAuthenticated" [routerLink]="['/profile']" routerLinkActive="active" href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp; Profil</a>
      </li>
      <li>
        <a [routerLink]="['/informationscenter']" routerLinkActive="active" href="#"><i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>&nbsp; Informationscenter</a>
      </li>
      <li>
        <a [routerLink]="['/stegforsteg']" routerLinkActive="active" href="#"><i class="fa fa-sort-amount-asc fa-fw" aria-hidden="true"></i>&nbsp; Steg för steg</a>
      </li>
      <li>
        <a [routerLink]="['/naradig']" routerLinkActive="active" href="#"><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>&nbsp; Hjälp nära dig</a>
      </li>
      <li *ngIf="(userRole | async)">
        <a [routerLink]="['/adminpanel']" routerLinkActive="active" href="#"><i class="fa fa-lock fa-fw" aria-hidden="true"></i>&nbsp; Admin Panel</a>
      </li>
      <li *ngIf="!isAuthenticated">
        <a [routerLink]="['/login']" routerLinkActive="active" href="#"><i class="fa fa-sign-in fa-fw" aria-hidden="true"></i>&nbsp; Logga in</a>
      </li>
      <li *ngIf="isAuthenticated">
        <a data-toggle="modal" data-target="#logoutModal" href="#"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>&nbsp; Logga ut</a>
      </li>
    </ul>
  </nav>
  <!-- /#sidebar-wrapper -->
  <div id="page-content-wrapper">
    <button type="button" id="menu" class="{{css_class}}" data-toggle="offcanvas">
      <span class="hamb-top"></span>
      <span class="hamb-middle"></span>
      <span class="hamb-bottom"></span>
    </button>
      <router-outlet></router-outlet>
  </div>
</div>
<!-- /#wrapper -->



<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Logga ut</h4>
      </div>
      <div class="modal-body">
        <p>Är du säker på att du vill logga ut?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Nej</button>
        <button id="logoutButton" type="button" (click)="onSignOut()" data-dismiss="modal" class="btn btn-success">Ja</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

