.example-full-width {
    width: 100%;
  }
  
  mat-card:hover{
    box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}
mat-card{
    bottom: 1px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color:#673ab7;
  }
  .panel-info>.panel-heading {
    color: #fff;
    background-color: #673ab7;
    border-color: #bea4eb;
  }
  
  .panel {
    border-color: #bea4eb;
  }
  a:focus, a:hover {
    color: #7957b4;
    text-decoration: underline;
  }
  a {
    color: #673ab7;
    text-decoration: none;
  }
  .btn-primary {
    color: #fff;
    background-color: #673ab7;
    border-color: #673ab7;
}