<div class="row">
  <div class="row">
    <h1>Informationscenter</h1>
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="main">
          <input class="input" type="text" ngModel [(ngModel)]="mainInput" />
          <input type="submit" value="Go" (click)="mainSearch()">
        </div>
    </div>
    <div class="col-sm-3"></div>  
  </div>  
    <div class="col-sm-4"></div>

    <!-- <div *ngIf="show">
    <div class="col-sm-1">
        <input type="checkbox" value="Hus">Hus<br>
        <input type="checkbox" value="Bostad">Bostad
    </div>
    <div class="col-sm-1">
        <input type="checkbox" value="buy">Köp<br>
        <input type="checkbox" value="selfWork">Självrenovering
    </div>
    <div class="col-sm-1">
        <input type="checkbox" value="text">Textformat<br>
        <input type="checkbox" value="video">Videoformat
    </div>
    <div (click)="filter2()">
    <button class="extra" >
     <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
        </button>
    </div>
  </div>
  <div *ngIf="!show">
        <div class="col-sm-1">
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-1">
            </div>
   <div (click)="filter()">
    <button class="extra">
     <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
        </button>
    </div>
    </div>-->
</div> 

  <div layout="row" layout-align="center center">
<!-- <div class="col-sm-1"></div>
  <div class="col-sm-4">
      <h2>Firebase Sök</h2>
      <input class="form-control" type="text" (keydown)="search($event)" placeholder="What u searchafor?">
      <br>
      <h2>Youtube Sök</h2>
      <form #f="ngForm" novalidate class="form-inline">
          <div class="form-group mx-sm-3">
            <input type="text" placeholder={{message}} class="form-control" ngModel required [(ngModel)]="query" name="query">
          </div>
          <button type="button" class="btn btn-primary" [disabled]="!f.form.valid" (click)="getVideos()">Search</button>
        </form>
        <br>
        <h2>Google Sök</h2>
        <form #s="ngForm" novalidate class="form-inline">
            <div class="form-group mx-sm-3">
              <input type="text" placeholder={{googleMessage}} class="form-control" ngModel required [(ngModel)]="googleQuery" name="query">
            </div>
            <button type="button" class="btn btn-primary" [disabled]="!s.form.valid" (click)="getGoogleInfo()">Search</button>
          </form>
          <br>
                  <div class="google-media-search" [innerHTML]="gcsesearch"></div>

  </div> -->
     <!-- <div *ngFor="let i of info">
        <h4>{{i?.title}}</h4>
        <p>
          {{i?.body}}
        </p>
      </div>
      <div *ngIf="info?.length < 1">
        <hr>
        <p>
          No results
        </p>
      </div> -->

      <div class="col-sm-9">
            <mat-card *ngFor="let i of googleList">
              
              <a [href]='i.link' data-lity
              > 
              <div *ngFor="let a of i.pagemap?.cse_image"> 
                <img class="mat-card-image" style="width: 350px;" [src]='a.src'>
             </div>
             <mat-card-title>{{i.title}}</mat-card-title>
            </a>
             <mat-card-content>
              <div class="clip-info"><p class="title"><span class="title">{{i.snippet}}</span></p>
              </div>
             </mat-card-content>
          
            </mat-card>
     
          </div>

  <div class="col-sm-3">
    <mat-spinner *ngIf="isLoading"></mat-spinner>

       <mat-card class="youtube-cards" style="margin-bottom: 20px; width: 350px;" *ngFor="let v of videoList">
          <a class="video-thumbnail" [href]='"https://www.youtube.com/watch?v="+v.id.videoId+""| safe' data-lity
          > <img class="mat-card-image" style="width: 350px;"  src="{{v.snippet.thumbnails.medium.url}}" data-src="{{v.snippet.thumbnails.medium.url}}">
          </a>
         <mat-card-content>
          <div class="clip-info"><p class="title"><span class="title">{{v.snippet.title}}</span></p>
            <span class="info"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp; VISNINGAR<i class="fa fa-clock-o" style="margin-left: 5px;" aria-hidden="true"></i> <span class="need_to_be_rendered">{{v.snippet.publishedAt | date}}</span></span>
          </div>
         </mat-card-content>
        </mat-card>
      </div>
      

</div>
