h1{
    text-align: center;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}
.centerSearch{
    text-align: center;
}
a:hover{
    text-decoration: none;
}
a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family: sans-serif;
}
a:hover{
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    color: #673ab7;
}
.extra{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family: sans-serif;
    border:0px;
    padding: 0px;
    background: transparent;
}
i:hover{
    color:purple;
}

.video-thumbnail {
  position: relative;
  cursor: pointer;

  &:before {
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    content: "\f01d";
    font-family: FontAwesome;
    font-size: 100px;
    color: #fff;
    opacity: .8;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  }
  &:hover:before {
    color: #673ab7;
  }
}

.youtube-cards:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.input{
    border: none;
    padding: 10px;
    margin: 10px;
  //  height: 20px;
    width: 500px;
    border:1px solid #eaeaea;
    outline:none;
}
input:hover{
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}
input:focus{
    border-color:#4d90fe;
}

input[type="submit"] {
    border-radius: 2px;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #757575;
    cursor: default;
    font-size: 14px;
    font-weight: bold;
    width: 100px;
    padding: 0 16px;
    height:36px;
}
input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}
p{
    font-size: 14px;
}

.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem 1rem;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.bg-inverse {
  background-color: #673ab7!important;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  z-index: 1;
}
.navbar {
  padding: .4rem 1rem;
  border-radius: 0;
}
@media (min-width: 992px) {
  .navbar-expand-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.navbar>.container, .navbar>.container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.container-fluid {
  max-width: 1920px;
}
.nopadding {
  padding: 0;
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.navbar-brand{
   color: #FFFFFF;
  float: left;
 }
.navbar-brand:hover{
  color: #FFFFFF;
}
.form-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.form-control {
  color: #FFF;
  background-color: #312453;
  border-color: #312553;
  outline: 0;
  box-shadow: none;
  outline: none;
}
.form-control:hover{
  border-color: #312553;
  outline: none;
}

.search-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #9b90b8;
  background-color: #312553;
  border-color: #312553;
  border-left-color: #4a367c;
}
.input-group{
  width: 100%;
  padding: 10px 10px;
  /* CSS3 Transition (Expanding Effect) */
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-backface-visibility: hidden;
}
.input-group:focus, .input-group:hover {
  outline: none;
  min-width: 200px;
  max-width: 500px;
  width: 150%;
  color: #777;
  /* CSS3 Outer Shadow */
  -webkit-box-shadow: 0 0 0 2px #999;
  -moz-box-shadow: 0 0 0 2px #999;
  box-shadow: 0 0 2px #999;
}

.link {
  font-size: 14px;
  color: blue;
}
.link:hover {
  color: #312553;
}
