
<main>
  <p>
    Youtube search
  </p>
  <div class="content" id="content">
    <div>
      <form #f="ngForm" novalidate class="form-inline">
        <div class="form-group mx-sm-3">
          <input type="text" placeholder={{message}} class="form-control" ngModel required [(ngModel)]="query" name="query">
        </div>
        <button type="button" class="btn btn-primary" [disabled]="!f.form.valid" (click)="getVideos()">Search</button>
      </form>
      <div *ngFor="let v of videoList">
        <h2>{{v.snippet.title}}</h2>
        <iframe width="640" height="360" [src]='"https://www.youtube.com/embed/"+v.id.videoId+""| safe' frameborder="0" allowfullscreen></iframe>
        {{v.snippet.publishedAt | date}}
      </div>
    </div>
  </div>

</main>
