input{
  font-size: 24px;
}
mat-placeholder{
  font-size: 18px!important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #fff;
  background-color:#673ab7;
}
.panel-info>.panel-heading {
  color: #fff;
  background-color: #673ab7;
  border-color: #bea4eb;
}

.panel {
  border-color: #bea4eb;
}
a:focus, a:hover {
  color: #7957b4;
  text-decoration: underline;
}
a {
  color: #673ab7;
  text-decoration: none;
}
.btn-primary {
  color: #fff;
  background-color: #673ab7;
  border-color: #673ab7;
}
.btn-primary:hover{
  background-color: purple;
}
.full-width {
  width: 100%;
}
