<div class="well" style="margin-left: 50px; margin-top: 10px;">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#home" data-toggle="tab">Profile</a></li>
    <li><a href="#profile" data-toggle="tab">Password</a></li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane active in" id="home">
      <form id="tab">
        <mat-form-field>
          <input matInput [formControl]="emailFormControl" type="email" name="email" class="email" [(ngModel)]="email">
          <mat-placeholder> <i style="margin-right: 5px;" class="fa fa-envelope fa-fw"></i> <i>Email</i></mat-placeholder>
          <button mat-button *ngIf="email" matSuffix mat-icon-button aria-label="Clear" (click)="email=''">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" name="address" class="address" [(ngModel)]="adress">
          <mat-placeholder> <i style="margin-right: 5px;" class="fa fa-envelope fa-fw"></i> <i>Adress</i></mat-placeholder>
          <button mat-button *ngIf="adress" matSuffix mat-icon-button aria-label="Clear" (click)="adress=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <div>
          <button class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
    <div class="tab-pane fade" id="profile">
      <form id="tab2">
        <mat-form-field class="example-full-width">
          <input matInput type="password" name="password" class="password" [(ngModel)]="oldPassword"  required>
          <mat-placeholder> <i style="margin-right: 5px;" class="fa fa-key fa-fw"></i><i>Ditt gamla lösenord</i></mat-placeholder>
          <button mat-button *ngIf="oldPassword" matSuffix mat-icon-button aria-label="Clear" (click)="oldPassword=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput type="password" name="password" class="password" [(ngModel)]="newPassword"  required>
          <mat-placeholder> <i style="margin-right: 5px;" class="fa fa-key fa-fw"></i><i>Ditt nya lösenord</i></mat-placeholder>
          <button mat-button *ngIf="newPassword" matSuffix mat-icon-button aria-label="Clear" (click)="newPassword=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <div>
          <button class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
