<div class="container">
  <div *ngIf="error" class="alert alert-warning alert-dismissable" role="alert">
    <a class="panel-close close" data-dismiss="alert">×</a>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{error}}
  </div>
  <div *ngIf="passwordAlert" class="alert alert-success alert-dismissable" role="alert">
      <a class="panel-close close" data-dismiss="alert">×</a>
       <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
       <span class="sr-only">Success:</span>
      Ditt lösenord har uppdaterats!
  </div>
  <div *ngIf="emailAlert" class="alert alert-success alert-dismissable" role="alert">
    <a class="panel-close close" data-dismiss="alert">×</a>
    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
    <span class="sr-only">Success:</span>
    Din email-adress har uppdaterats!
  </div>
  <div class="row">
  <div class="col-md-3">
  <ul class="nav nav-pills nav-stacked admin-menu" style="font-family:  proxima_nova_altbold, sans-serif; margin-top: 15px;">
    <li class="active"><a href="#home" data-toggle="tab"><i class="glyphicon glyphicon-user"></i>&nbsp; Profil</a></li>
    <li><a href="#profile" data-toggle="tab"><i class="glyphicon glyphicon-lock"></i>&nbsp; Byt lösenord</a></li>
    <li><a href="#email-address" data-toggle="tab"><i class="glyphicon glyphicon-envelope"></i>&nbsp; Byt email-adress</a></li>
  </ul>
  </div>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane active in" id="home">
      <div class="col-md-9" >
      <form id="tab">
        <div class="panel panel-info" style="margin: 1em;">
          <div class="panel-heading">
            <h3 class="panel-title"><label class="control-label panel-title">Namn</label></h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <div class="col-sm-10">
               <p>{{(currentUser | async)?.name}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-info" style="margin: 1em;">
          <div class="panel-heading">
            <h3 class="panel-title"><label class="control-label panel-title">Email</label></h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <div class="col-sm-10">
              <p>{{(currentUser | async)?.email}}</p>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    </div>

    <div class="tab-pane fade" id="profile">
      <div class="col-md-9" >
      <form id="tab2">
        <div class="panel panel-info" style="margin: 1em;">
          <div class="panel-heading">
            <h3 class="panel-title"><label class="control-label panel-title">Nytt lösenord</label></h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <div class="col-sm-10">
                <mat-form-field class="full-width">
                  <input matInput type="password" name="password" class="password" [(ngModel)]="newPassword"  required>
                  <mat-placeholder> <i style="margin-right: 5px;" class="fa fa-key fa-fw"></i><i>Nytt lösenord</i></mat-placeholder>
                  <button mat-button *ngIf="newPassword" matSuffix mat-icon-button aria-label="Clear" (click)="newPassword=''">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-info" style="margin: 1em;">
          <div class="panel-heading">
            <h3 class="panel-title"><label class="control-label panel-title">Gammalt lösenord (för verifiering)</label></h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <div class="col-sm-10">
                <mat-form-field class="full-width">
                  <input matInput type="password" name="password" class="password" [(ngModel)]="oldPassword"  required>
                  <mat-placeholder> <i style="margin-right: 5px;" class="fa fa-key fa-fw"></i><i>Gamla lösenord</i></mat-placeholder>
                  <button mat-button *ngIf="oldPassword" matSuffix mat-icon-button aria-label="Clear" (click)="oldPassword=''">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-info border" style="margin: 1em;">
          <div class="panel-body">
            <div class="form-group">
              <div class="pull-left">
                <button *ngIf="!isLoading" (click)="updatePassword()" class="btn btn-primary">Uppdatera</button>
                <mat-spinner diameter="50" *ngIf="isLoading"></mat-spinner>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

    <div class="tab-pane fade" id="email-address">
      <div class="col-md-9" >
        <form id="tab3">
          <div class="panel panel-info" style="margin: 1em;">
            <div class="panel-heading">
              <h3 class="panel-title"><label class="control-label panel-title">Byt email-adress</label></h3>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <div class="col-sm-10">
                  <mat-form-field class="full-width">
                    <input matInput [formControl]="emailFormControl" type="email" name="email" class="email" [(ngModel)]="newEmail" required>
                    <mat-placeholder> <i style="margin-right: 5px;" class="fa fa-envelope fa-fw"></i> <i>Email</i></mat-placeholder>
                    <button mat-button *ngIf="newEmail" matSuffix mat-icon-button aria-label="Clear" (click)="newEmail=''">
                      <mat-icon>close</mat-icon>
                    </button>
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                      Var god ange en giltig email-adress
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-info border" style="margin: 1em;">
            <div class="panel-body">
              <div class="form-group">
                <div class="pull-left">
                  <button *ngIf="!isLoading" (click)="updateEmail(newEmail)" class="btn btn-primary">Uppdatera</button>
                  <mat-spinner diameter="50" *ngIf="isLoading"></mat-spinner>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
  </div>
</div>
