<input type="checkbox" id="navcheck" role="button" title="menu">
<label id="slide" for="navcheck" aria-hidden="true" title="menu">
	<span class="burger" >
		<span class="bar">
			<span class="visuallyhidden">Menu</span>
		</span>
	</span>
</label>
<nav id="menu">



    <a class="hover" [routerLink]="['/hem']" routerLinkActive="active" href="#"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Hem</a><span class="hover"></span>


    <a class="hover" [routerLink]="['/informationscenter']" routerLinkActive="active" href="#"><i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>&nbsp; Informationscenter</a><span class="hover"></span>


    <a class="hover" [routerLink]="['/stegforsteg']" routerLinkActive="active" href="#"><i class="fa fa-sort-amount-asc fa-fw" aria-hidden="true"></i>&nbsp; Steg för steg</a><span class="hover"></span>


    <a class="hover" [routerLink]="['/naradig']" routerLinkActive="active" href="#"><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>&nbsp; Byggfirmor&Mäklarfirmor nära dig</a><span class="hover"></span>


    <a class="hover" [routerLink]="['/login']" routerLinkActive="active" href="#"><i class="fa fa-sign-in fa-fw" aria-hidden="true"></i>&nbsp; Logga in</a><span class="hover"></span>


</nav>

<div class="hidden"></div>
<script>

  $('#slide').click(function(){
    var hidden = $('.hidden');
    if (hidden.hasClass('visible')){
      hidden.animate({"left":"0px"}, "slow").removeClass('visible');
    } else {
      hidden.animate({"left":"250px"}, "slow").addClass('visible');
    }
  });

</script>
