[id="navcheck"]:checked {
  & + label {
    &::before {
      opacity: 1;
      pointer-events: auto;
    }
    .burger {
      &::before,
      &::after {
        width: 141.42%; // Pythagore!
      }
      &::before {
        transform: rotate(45deg) translateY(-50%);
      }
      &::after {
        transform: rotate(-45deg) translateY(50%);
      }
      .bar {
        transform: scale(0.1);
      }
    }
  }
  & ~ nav {
    transform: translateX(0);
    &::before {
      transform: skewX(15deg) translateX(0);
    }
    a {
      transform: translateX(0);
    }
  }
  & ~ main .content {
    transform: translateX(3em);
    transform-origin: left center;
    -webkit-filter: blur(2px);
    filter: blur(2px); /* quite laggy :S */
    margin-left: 25%;
  }
}
