<div class="container" style="margin-top: 10px;">
  <div class="row">
  <div class="col-md-3">
  <ul class="nav nav-pills nav-stacked admin-menu">
    <li class="active"><a href="#home" data-toggle="tab"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp; Create/Manage Info</a></li>
  </ul>
  </div>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane active in" id="home">
      <div class="col-md-9" >
      <form id="tab">
        <div class="panel panel-info" style="margin: 1em;">
          <div class="panel-heading">
            <h3 class="panel-title"><label class="control-label panel-title">Skapa</label></h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <div class="col-sm-12">
                <app-create-info></app-create-info>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-info" style="margin: 1em;">
          <div class="panel-heading">
            <h3 class="panel-title"><label class="control-label panel-title">Editera</label></h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <div class="col-sm-10">
                <app-show-info></app-show-info>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    </div>

    